<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    #cover {
      position: fixed;
      width: 100%;
      height: 1400;
      background-color: rgba(1, 1, 1, 0.8);
    }
  </style>
</head>

<body>

    <input type="number" id="input">
    <button onclick="generate()">GENERATE</button>
    <div id="output">

    </div>
    <button onclick="simulate()">SIMULATE</button>
    <div id="output2">

    </div>
    <button onclick="shortest()">FIND PATH</button>
    <div id="output3">

    </div>
    <div id="parent">
        <svg id="svgContainer" viewBox="0 0 1000 1000" width="700" height="700">

        </svg>
    </div>
    <div id="cover">
    </div>

    <script>
        // $( document ).ready(function() {

            console.log( "ready!" );
            const svgContainer = document.getElementById('svgContainer');
            drawAxes();
            let objects = null

            function clearContainer() {
                svgContainer.innerHTML = ""
            }

            function drawAxes() {
                console.log("PLOTTING");
                // X-axis
                const xAxis = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                xAxis.setAttribute('x1', 0);
                xAxis.setAttribute('y1', 1000);
                xAxis.setAttribute('x2', 1000);
                xAxis.setAttribute('y2', 1000);
                xAxis.setAttribute('stroke', 'black');
                svgContainer.appendChild(xAxis);
                console.log("PLOTTING");

                // Y-axis
                const yAxis = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                yAxis.setAttribute('x1', 0);
                yAxis.setAttribute('y1', 1000);
                yAxis.setAttribute('x2', 0);
                yAxis.setAttribute('y2', 0);
                yAxis.setAttribute('stroke', 'black');
                svgContainer.appendChild(yAxis);
            }

            function drawShapeOrLine(shapeOrLine) {
                if (shapeOrLine.type === 'line') {
                    const line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                    line.setAttribute('x1', shapeOrLine.x1);
                    line.setAttribute('y1', 1000 - shapeOrLine.y1); // Invert y-coordinate
                    line.setAttribute('x2', shapeOrLine.x2);
                    line.setAttribute('y2', 1000 - shapeOrLine.y2); // Invert y-coordinate
                    line.setAttribute('stroke', shapeOrLine.fill);
                    console.log("LINE")
                    svgContainer.appendChild(line);
                } else if (shapeOrLine.type === 'polygon') {
                    const polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
                    const points = shapeOrLine.points.map(point => `${point.x},${1000 - point.y}`).join(' '); // Invert y-coordinate
                    polygon.setAttribute('points', points);
                    polygon.setAttribute('stroke', 'black');
                    polygon.setAttribute('fill', shapeOrLine.fill);
                    console.log("POLYGON")
                    svgContainer.appendChild(polygon);
                }
            }

            function generate() { 
                var value = document.getElementById('input').value;
                const dataToSend = {
                    num_obstacles: value,
                };
                $.ajax({
                    type: 'POST',
                    url: '/generate',
                    contentType: 'application/json',
                    data: JSON.stringify(dataToSend),
                    success: function (data) {
                        console.log('data:', data);
                        objects = data;
                        console.log(objects);
                        if (objects != null){
                            $('#output').text(objects[1]);
                            clearContainer()
                            polygons = objects[1]
                            for (index in polygons) {
                                console.log(polygons[index])
                                drawShapeOrLine(polygons[index])
                            }
                        }
                        else
                            $('#output').text("NULL");
                    },
                    error: function (error) {
                        console.error('Error:', error);
                        $('#output').html(error);
                    }
                });
            }

            function setdelay(graph_lines, index) {
                console.log(index)
                setTimeout(drawShapeOrLine(graph_lines[index]), 1000);
            }

            function animate_simulation(graph_lines) {
                console.log("0")
                setTimeout(drawShapeOrLine(graph_lines[0]), 1000);
                let index = 1;
                while (index < graph_lines.length) {
                    setdelay(graph_lines, index)
                    index++
                }
            }
            let currentIndex = 0
            function animateGraph() {
                if (currentIndex < objects[2].length) {
                    console.log("STARt")
                    // drawAxes();
                    drawShapeOrLine(objects[2][currentIndex]);
                    currentIndex++;
                    setTimeout(animateGraph, 1000); // Adjust the delay as needed
                }
                else {
                    currentIndex = 0
                    return 0
                }
            }

            function simulate() {
                if (objects != null){
                    $('#output2').text(JSON.stringify(objects[2]));
                    setTimeout(animateGraph, 1000);
                }
                else
                    $('#output2').text("NULL");
            }

            function shortest() {
                if (objects != null){
                    $('#output3').text(JSON.stringify(objects[3]));
                    animate_simulation(objects[3]);
                }
                else
                    $('#output3').text("NULL");
            }
        // });
  </script>
</body>

</html>